body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App-Nav {
  text-align: left;
  display: flex;
  flex-direction: row;
}
/* .home {
  text-decoration: none;
  color: inherit;
} */
.App-Header {
  background-color: #056580;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-weight: bold;
  color: white;
  text-indent: 30;
  padding-left: 60px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.all-groups {
  margin: 40px;
  padding: 10px;
}
.group-border {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  padding: 1%;
  background-color: #00b6e8;
}

.group {
  margin: 1px;
  padding: 1%;
  background-color: #ffffff26;
  font-size: calc(8px + 1.5vmin);
  font-weight: 500;
  color: white;
}
.btn-border {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 1%;
  padding: 1%;
  background-color: #b8f0ff;
}
#new-group-btn {
  margin: 1px;
  padding: 1%;
  background-color: #ffffffb1;
  font-size: calc(8px + 1.5vmin);
  font-weight: 500;
  color: rgb(45, 45, 45);
}
.SE {
  float: right;
  margin-right: 10px;
}

/* EDITCARD */

#existing-cards {
  color: white;
  background-color: #056580;
  width: 25%;
  height: 450px;
  position: absolute;
  top: auto;
  left: 0;
  margin: 20px;
  padding: 40px;
  overflow: scroll;
}

.editor-cards {
  position: absolute;
  left: 40%;
  width: 30%;
  height: 250px;
  background-color: lightblue;
  margin: 20px;
}
#card-front {
  top: auto;
}
#card-back {
  top: 420px;
}
#save-new {
  left: 58%;
  top: 700px;
  position: absolute;
  margin-right: 10px;
}
#save-end {
  left: 65%;
  top: 700px;
  position: absolute;
}

.mini-card {
  position: center;
  width: 70%;
  height: 30%;
  background-color: lightblue;
  margin: 20px;
  color: black;
  font-weight: 700;
  text-align: center;
  line-height: 150%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.delete-b {
  position: center;
}

#frontI,
#backI {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 50;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  border: none;
  font-size: 30px;
  font-weight: 800;
}

#backI {
  font-size: 20px;
  font-weight: 100;
}

#add-group {
  /* visibility: visible; */
  position: fixed;
  background-color: lightblue;
  left: 40%;
  margin: 1px;
  padding: 5%;
  font-size: calc(8px + 1.5vmin);
  font-weight: 500;
  color: rgb(45, 45, 45);
  width: 200px;
}

/* * Study Styles */

.study__buttons {
  display: flex;
  justify-content: space-around;
  width: 500px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.study__button--prev,
.study__button--next {
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 20px;
}
​ .card-stack {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.card-stack__wrapper {
  grid-area: 1 / 1 / 1/ 1;
}
​ .study-card {
  perspective: 800px;
  grid-area: 1 / 1 / 1/ 1;
}
.card__wrapper {
  position: relative;
  width: 500px;
  height: 240px;
  margin: 16px auto;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
}
[data-flip="true"] {
  transform: rotateY(180deg);
}
[data-active] {
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 0.5s;
}
[data-active="true"] {
  z-index: 100;
  transform: translate(0, 0);
  opacity: 1;
}
.card__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-family: sans-serif;
  font-size: 18px;
  color: #333;
  text-align: center;
  border: 4px solid #666;
  border-radius: 16px;
  cursor: pointer;
}
.card__content--front {
  z-index: 2;
  background-color: #eee;
  backface-visibility: hidden;
}
.card__content--back {
  z-index: 1;
  background-color: #eee;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
